a {
	color: #1c818c;
}
a:focus, a:hover {
	color: #c26642;
}


.btn-primary {
	background-color: #c26642;
	border-color: #c26642;
}
.btn-block {
	margin: 2rem auto;
	padding: 12px 12px;
	font-weight: bold;
}
.btn-lg {
	display: block;
	width: 240px;
	max-width: 100%;
	margin: 2.5rem auto;
	font-weight: bold;
}
.btn-xlg {
	width: 360px;
}
.btn-alt_color {
	background: #1c818c;
	border-color: #1c818c;	
}
.btn:hover {
    background-color: #1c818c;
    border-color: #1c818c;
}
.btn-alt_color:hover {
	background-color: #c26642;
	border-color: #c26642;
}

.input-group-addon {
	color: white;
	background-color: #f0a471;
	border-color: #c26642;
}
.form-control {
	border-color: #c26642;
}

.featurette-divider_gradient {
    border: 0;
    height: 1px;
    background: #c26642;
    background-image: linear-gradient(to right, #f0a471, #c26642, #f0a471);
}
.featurette-heading {
	color: #1c818c;
}
.featurette-heading .text-muted{
	color: #7bbed1;
}

.carousel-caption {
    top: 60px;
    bottom: auto;
	color: #c26642;
	text-shadow: 0 1px 2px rgba(255,255,255,.6);
}
.carousel-caption h1 {
	font-weight: 800;
}

.carousel-control.left {
	background-image: linear-gradient(to left,#fae49e 0,#c26642 100%);
}
.carousel-control.right {
	background-image: linear-gradient(to right,#fae49e 0,#c26642 100%);
}

@media (min-width: 480px){
    .marketing .col-lg-4 .p_maxwidth {
        max-width: 480px;
        margin-right: auto;
        margin-left: auto;
    }
}