{% extends "base.html" %}

{% block head %}
<title>Cambiar contraseña | EmprendeNet</title>
{% endblock %}

{% block content %}
<h1>Cambiar contraseña del usuario</h1>

<form method="post">
	{% if error %}
		<p>Error: {{error | safe}}</p>
	{% endif %}
	
	<label for="password_anterior">Contraseña anterior:</label>
	<input type="password" name="password_anterior" value="{{password_anterior}}">
	
	<label for="password_nueva">Nueva contraseña:</label>
	<input type="password" name="password_nueva" value="{{password_nueva}}">

	<label for="password_confirmar">Confirmar contraseña:</label>
	<input type="password" name="password_confirmar" value="{{password_confirmar}}">	
	
	<input type="submit" value="Cambiar contraseña">
</form>

<a href="/usuario/panel-usuario">Cancelar</a>
{% endblock %}