{% extends "base.html" %}

{% block head %}
<meta name="description" content="EmprendeNet | La red de contactos para emprender juntos">
<meta name="keywords" content="emprendenet, emprender, socios, networking, emprendimiento, contacto, startups">
<meta name="author" content="EmprendeNet">
	
<title>EmprendeNet</title>
{% endblock %}


{% block content %}
<div class="container marketing">
	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive center-block" src="/static/img/logotipo-500x500.png" alt="Generic placeholder image">
		</div>

		<div class="col-md-7">
		  	<h2 class="featurette-heading">Marcos Manuel Ortega
				<span class="text-muted">Co-promotor. Gestor de los aspectos tecnológicos del proyecto.</span></h2>

			<p class="lead">Ingeniero Téc. Industrial, esp. Mecánica por la Universidad de Almería.<br>Responsable de Indavelopers: Consultoría de datos y soluciones de Big Data. Proyecto en fase inicial.<br>3+ años de experiencia como desarrollador web full-stack freelance, experiencia para proyectos de negocios locales y de iniciativa propia.<br>Organizador de GDG Almería (Grupo de Desarrolladores de Google), coordinador del Club Python Almería y miembro activo de Hacklab Almería: comunidades profesionales y de interesados en las nuevas tecnologías.</p>

			<p>La motivación para lanzar EmprendeNet, junto a Emilia Segura, nos la dio la falta de un servicio activo y eficaz para conocer, de forma eficiente, a posibles socios para lanzar proyectos de emprendimiento en común, puesto que tanto personalmente como personas que me rodeaban veíamos que múltiples ideas no surgían o lo hacían con problemas por no contar con el equipo necesario y adecuado para el proyecto.</p>
			
			<p>Mi objetivo con EmprendeNet es ampliar y potenciar mi red de contactos personales y profesionales. Es ya lanzando el proyecto cuando comencé a conocer a muchas personas emprendedoras muy interesantes y edificantes, de las que aprender mucho y que te aportan mucha energía, o te ayudan y enriquecen con sus opiniones y experiencias, por lo que la comunidad formada alrededor de los colaboradores y miembros más destacados ha hecho que todo esfuerzo tenga su recompensa con creces. EmprendeNet y el resto de proyectos colaborativos en los que participo me han hecho crecer mucho profesionalmente, pero sobretodo a nivel personal.</p>

			<p class="lead">Twitter: @Indavelopers. LinkedIn: Marcos Manuel Ortega González. Github: Indavelopers</p>
		</div>
	</div>

	<hr class="featurette-divider featurette-divider_gradient">

	<a class="btn btn-primary btn-lg" href="/">Volver a la portada</a>

	<hr class="featurette-divider featurette-divider_gradient">
</div>
{% endblock %}