{% extends "base.html" %}

{% block head %}
<meta name="description" content="EmprendeNet | La red de contactos para emprender juntos">
<meta name="keywords" content="emprendenet, emprender, socios, networking, emprendimiento, contacto, startups">
<meta name="author" content="EmprendeNet">
	
<title>EmprendeNet</title>
{% endblock %}


{% block content %}
<div class="container marketing">
	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive center-block" src="/static/img/perfil_emilia.jpg" alt="Perfil Emilia Segura">
		</div>

		<div class="col-md-7">
		  	<h2 class="featurette-heading">Emilia Segura <span class="text-muted">Co-promotora. Gestora del planteamiento y administración del proyecto.</span></h2>

			<p class="lead">Diplomada en Ciencias Empresariales por la Universidad de Almería.<br>Especialista en Gestión Informatizada.Consultora financiera independiente y asesora de empresas (proyecto fase inicial).<br>7+ años de experiencia como contable en el sector público local.<br>14+ años colaborando en la gestión de empresas de Construcción.</p>

			<p>EmprendeNet pretende dar soluciones a los emprendedores que a menudo desechan ideas y proyectos creativos e innovadores, por no conocer al socio adecuado para iniciarlos. En mi caso he contado con la suerte de conocer a Marcos Manuel Ortega y poder aunar sinergias para hacer que EmprendeNet sea una realidad, y poder facilitar encuentros altamente provechosos entre emprendedores.</p>
			
			<p>EmprendeNet significa para mí, el anhelo de disponer de una herramienta sumamente valiosa para la comunidad de emprendedores, y por otro lado, la enriquecedora experiencia de promover junto con Marcos Manuel Ortega este proyecto, así como con los distintos colaboradores que igualmente ilusionados y altruistas apuestan por esta iniciativa.</p>

			<p>Confieso sentirme afortunada por todo el apoyo y asesoramiento que nos brinda la Universidad de Almería, así como por el clima entusiasta y positivo que envuelve esta iniciativa, fruto de la gran calidad  de las personas que se ilusionan igual que nosotros y comparten lo mejor de cada uno de ellos. Gracias a todos por ser parte de EmprendeNet.</p>

			<p class="lead">LinkedIn: Emilia Segura Segura</p>
		</div>
	</div>

	<hr class="featurette-divider featurette-divider_gradient">

	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive center-block" src="/static/img/perfil_marcos.jpg" alt="Perfil Marcos Manuel Ortega">
		</div>

		<div class="col-md-7">
		  	<h2 class="featurette-heading">Marcos Manuel Ortega <span class="text-muted">Co-promotor. Gestor tecnológico del proyecto.</span></h2>

			<p class="lead">Ingeniero Téc. Industrial, esp. Mecánica por la Universidad de Almería.<br>Responsable de Indavelopers: Consultoría de datos y soluciones de Big Data. Proyecto en fase inicial.<br>3+ años de experiencia como desarrollador web full-stack freelance, experiencia para proyectos de negocios locales y de iniciativa propia.<br>Organizador de GDG Almería (Grupo de Desarrolladores de Google), coordinador del Club Python Almería y miembro activo de Hacklab Almería: comunidades profesionales y de interesados en las nuevas tecnologías.</p>

			<p>La motivación para lanzar EmprendeNet, junto a Emilia Segura, nos la dio la falta de un servicio activo y eficaz para conocer, de forma eficiente, a posibles socios para lanzar proyectos de emprendimiento en común, puesto que tanto personalmente como personas que me rodeaban veíamos que múltiples ideas no surgían o lo hacían con problemas por no contar con el equipo necesario y adecuado para el proyecto.</p>

			<p>Mi objetivo con EmprendeNet es ampliar y potenciar mi red de contactos personales y profesionales. Es ya lanzando el proyecto cuando comencé a conocer a muchas personas emprendedoras muy interesantes y edificantes, de las que aprender mucho y que te aportan mucha energía, o te ayudan y enriquecen con sus opiniones y experiencias, por lo que la comunidad formada alrededor de los colaboradores y miembros más destacados ha hecho que todo esfuerzo tenga su recompensa con creces. EmprendeNet y el resto de proyectos colaborativos en los que participo me han hecho crecer mucho profesionalmente, pero sobretodo a nivel personal.</p>

			<p class="lead">Twitter: @Indavelopers. LinkedIn: Marcos Manuel Ortega González. Github: Indavelopers</p>
		</div>
	</div>

	<hr class="featurette-divider featurette-divider_gradient">

	<a class="btn btn-primary btn-lg" href="/">Volver a la portada</a>

	<hr class="featurette-divider featurette-divider_gradient">
</div>
{% endblock %}