{% extends "base.html" %}

{% block head %}
<meta name="description" content="EmprendeNet | La red de contactos para emprender juntos">
<meta name="keywords" content="emprendenet, emprender, socios, networking, emprendimiento, contacto, startups">
<meta name="author" content="EmprendeNet">
	
<title>EmprendeNet</title>
{% endblock %}


{% block content %}
<div class="container marketing">
	<div class="row featurette">
		<div class="col-md-8 col-md-offset-2">
		  	<h2 class="featurette-heading">La iniciativa.
				<span class="text-muted">Los objetivos primordiales de EmprendeNet.</span></h2>

			<p class="lead">Ayuda y apoyo en común al emprendedor, trabajar en red. Conectar emprendedores con una idea con el equipo que podrá hacerla posible. Acelerar el proceso desde que los emprendedores se conocen hasta que acuerdan emprender juntos.</p>
			
			<p class="lead">Ser una comunidad abierta y libre, donde todos los colaboradores puedan aportar y beneficiarse a cambio. Dar reconocimiento y poner en valor los conocimientos, experiencia y capacidades de cada colaborador. Servir para mostrar y acrecentar nuestro currículo, portfolio y experiencia profesional, ante posibles socios, inversores, instituciones, compañías y comunidades profesionales.</p>

			<p>Al fin y al cabo, nuestros miembros son nuestra razón de ser. EmprendeNet puede y debe ser lo que queramos que sea. Propón iniciativas, nuevas funcionalidades del portal, organiza actividades, participa en las reuniones. Tanto tu feedback como sobretodo tu participación es la forma más directa de que veas cumplidos tus objetivos.</p>
		</div>
	</div>
	
	<hr class="featurette-divider featurette-divider_gradient">	

	<div class="row featurette">
		<div class="col-md-7">
		  	<h2 class="featurette-heading">A nuestros usuarios, los emprendedores.
				<span class="text-muted">Cómo esperamos serte de utilidad.</span></h2>

			<p class="lead">No sólo queremos ofrecerte un gran listado de emprendedores, sino que queremos que en éste halles la mayor información relevante y necesaria que ofrezcan sobre ellos que te ayude a elegir tus socio ideal. Te ayudaremos a definir tu perfil y de tu proyecto, desarrollaremos y apliaremos contínuamente nuevos métodos tanto para ayudarte a conocer en profundidad a tus candidatos como para selecionarte los posiblemente más indicados.</p>

			<p>Nuestros expertos en emprendimiento y planes de empresa te ayudarán a definir qué perfil de socios maximizaría las probabilidades de éxito de tu proyecto. Nuestros expertos en RRHH te ayudarán con sus conocimientos sobre cómo elegir a los socios idóneos, conoceros a fondo y ofreceros la confianza necesaria. Nuestros expertos en gestión de equipos te ayudarán a formalizar tu equipo de socios y comenzar a trabajar en común.</p>
			
			<p>Y si tienes conocimientos en estos u otros campos, puedes dar el paso y ser nuestro colaborador para beneficiarte aún más de EmprendeNet.</p>
		</div>

		<div class="col-md-5">
			<img class="featurette-image img-responsive center-block" src="/static/img/logotipo-500x500.png" alt="Generic placeholder image">
		</div>
	</div>

	<hr class="featurette-divider featurette-divider_gradient">

	<div class="row featurette">
		<div class="col-md-7 col-md-push-5">
		  	<h2 class="featurette-heading">A nuestros colaboradores.
				<span class="text-muted">Participa, ayúdanos a hacerlo realidad y beneficiémonos juntos.</span></h2>

			<p class="lead">EmprendeNet sería demasiado esfuerzo para sólo sus 2 promotores originales. Tampoco pretendíamos obtener lucro económico, <mark>sólo encontrar socios para nuestros proyectos</mark>. Que fuera <u>libre</u> y todos pudieran hacerla suya, aportando y recibiendo beneficio a cambio.</p>

			<p class="lead">¿Qué puedes hacer por EmprendeNet? Puedes organizar actividades de networking, puedes trabajar en las tareas que tengamos abiertas, pero sobretodo puedes proponer y tomar la iniciativa para darle a EmprendeNet lo que creas que le falta, lo que a ti te gustaría que te ofreciera.</p>
			
			<p class="lead">Te ofrecemos pleno reconocimiento a tu trabajo, valoración y publicación de tus capacidades y conocimientos expresa e individualizadamente. ¿Qué mejor forma de dar confianza a posibles socios, inversores e instituciones que vean el resultado de tu trabajo, así como ánimo de colaborar?</p>
		</div>

		<div class="col-md-5 col-md-pull-7">
			<img class="featurette-image img-responsive center-block" src="/static/img/logotipo_background-1400x725.png" alt="Generic placeholder image">
		</div>		
	</div>

	<hr class="featurette-divider featurette-divider_gradient">
	
	<div class="row featurette">
		<div class="col-md-8 col-md-offset-2">
		  	<h2 class="featurette-heading">Al resto de iniciativas e instituciones.
				<span class="text-muted">Queremos ser una iniciativa colaborando en una gran red de proyectos afines.</span></h2>

			<p class="lead">Podemos intentar beneficiar a los emprendedores como nosotros en cualquier manera posible, o podemos centrarnos en un objetivo y hacer lo que mejor sabemos hacer.</p>

			<p>¿Piensas que colaborar con EmprendeNet podría beneficiar a tu proyecto, comunidad de emprendedores, organización o institución? ¿Los beneficias de otra forma y te gustaría aunar alcance y esfuerzos en una red común? Entonces piensas como nosotros.</p>
			
			<p>No podemos cubrir todas las necesidades del emprendedor, ni lo pretendemos. Ayudémonos cada uno cubriendo cada uno alguna de ellas o beneficiándolo en alguna forma. Juntos conseguiremos más que por separado, al igual que colaborando y no superponiendo nuestras iniciativas.</p>
			
			<a class="btn btn-primary btn-lg" href="/">Volver a la portada</a>
		</div>
	</div>
	
	<hr class="featurette-divider featurette-divider_gradient">	
</div>
{% endblock %}